
#sidemenu {
    transition: right 1s ease-in-out;
}
html {
    scroll-behavior: smooth;
  }
  .hover-black-shadow:hover {
  box-shadow: 4px 4px 0 #000;
}
.shadow{
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
.outfit {
  font-family: "Outfit", sans-serif;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: black }
}
.text-highlight {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  animation:
    typing 2.5s steps(25, end) 0.8s forwards,
    blink 0.75s step-end infinite;
}
